@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


@media (max-width: 600px) {

    .home h1 {
        font-size: 10px;
    }
    header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: auto;
        padding: 20px;
        position: relative; /* If you want the header to scroll away with the page */
    }

    header h1 {
        font-size: 24px; /* Adjust font size for mobile */
    }

    header nav {
        gap: 10px;
    }

    header nav a {
        font-size: 16px; /* Adjust font size for mobile */
        padding: 8px; /* Adjust padding for mobile */
    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    /*padding: 0 5%;*/
    position: absolute;
    width: 100%;
    z-index: 100;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
  padding-left: 20px; /* 增加左侧 padding */
}

header nav {
    display: flex;
    align-items: center; /* 垂直居中 */
    gap: 30px;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
    display: inline-block; /* 修改为 inline-block */
}

/* Dropdown */
.dropdown {
    position: relative; /* 添加相对定位 */
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px; /* 添加圆角 */
}

.dropdown:hover .dropdown-content {
    display: block;
}

header nav a.active {
    background: #5247B9;
}

header nav a:hover {
    background: #5247B9;
}

header nav:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}